---
// 호스트 리그: base.png(고정 베이스) 위에 얼굴 파츠(눈/눈썹/입/코)를 얹어
// 대략 Live2D 느낌. 애니메이션은 global.css .rig-* 참조.
//   - 깜빡임: 열린눈↔닫힌눈 opacity 스왑
//   - 립싱크: 말하는 중 입 개폐(.sp-host.is-talking)
//   - 표정: 씬 emotion → .sp-host.emo-* 가 눈/눈썹/입 변형
// 좌표: base(460x907) 기준 % (left, top, width). height 자동.
const s = (l: number, t: number, w: number) => `left:${l}%;top:${t}%;width:${w}%`;
---

<div class="rig">
  <img class="rig-base" src="/host/base.png" alt="채널 호스트 로지" draggable="false" />

  <img class="rig-part rig-brow l" src="/host/face/brow_l.png" alt="" style={s(35.65, 23.0, 11.74)} />
  <img class="rig-part rig-brow r" src="/host/face/brow_r.png" alt="" style={s(53.04, 23.0, 11.74)} />

  <img class="rig-part rig-eye l" src="/host/face/eye_l.png" alt="" style={s(35.43, 24.4, 12.17)} />
  <img class="rig-part rig-eye r" src="/host/face/eye_r.png" alt="" style={s(52.83, 24.4, 12.17)} />
  <img class="rig-part rig-eyec l" src="/host/face/eyec_l.png" alt="" style={s(35.43, 25.35, 12.17)} />
  <img class="rig-part rig-eyec r" src="/host/face/eyec_r.png" alt="" style={s(52.83, 25.35, 12.17)} />

  <img class="rig-part rig-nose" src="/host/face/nose.png" alt="" style={s(48.59, 30.15, 3.26)} />
  <img class="rig-part rig-mouth" src="/host/face/mouth_open.png" alt="" style={s(46.96, 32.05, 6.52)} />
</div>
